<div>
  <h2 id="page-heading" data-cy="PagamentoHeading">
    <span jhiTranslate="sistemaFretesApp.pagamento.home.title">Pagamentos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sistemaFretesApp.pagamento.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pagamento"
        [routerLink]="['/pagamento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sistemaFretesApp.pagamento.home.createLabel"> Create a new Pagamento </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pagamentos?.length === 0">
    <span jhiTranslate="sistemaFretesApp.pagamento.home.notFound">No pagamentos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pagamentos && pagamentos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="sistemaFretesApp.pagamento.valor">Valor</span></th>
          <th scope="col"><span jhiTranslate="sistemaFretesApp.pagamento.parcela">Parcela</span></th>
          <th scope="col"><span jhiTranslate="sistemaFretesApp.pagamento.formaPagamento">Forma Pagamento</span></th>
          <th scope="col"><span jhiTranslate="sistemaFretesApp.pagamento.frete">Frete</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pagamento of pagamentos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pagamento', pagamento.id, 'view']">{{ pagamento.id }}</a>
          </td>
          <td>{{ pagamento.valor }}</td>
          <td>{{ pagamento.parcela }}</td>
          <td>{{ pagamento.formaPagamento }}</td>
          <td>
            <div *ngIf="pagamento.frete">
              <a [routerLink]="['/frete', pagamento.frete?.id, 'view']">{{ pagamento.frete?.data }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pagamento', pagamento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pagamento', pagamento.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pagamento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
